<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/951bf21343.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <div class="main-header">
            <section class="header-superior">
                <img src="/images/logo.svg" id="logo">
                
                <form action="/search-bar" method="POST" class="buscador">
                    <input id="search-bar" placeholder="Buscar productos, marcas y más...">
                    <button id="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <!--<div class="buscador">
                    <input id="search-bar" placeholder="Buscar productos, marcas y más...">
                    <button id="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>-->
            </section>
            <p id="texto-inicial"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="padre-navbar">
            <ul class="site">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>    
            </ul>
            <ul class="navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars icono-menu"></i>
        </div>
    </header>
    <main>
        <div class="container-login">
            <form action="/login" method="POST" class="formulario-registro">
                <label for="user-name" class="texto-login">Nombre de usuario</label>
                <input type="text" name="user-name" id="user-name">
                <span class="feedback">Nombre de usuario incorrecto.</span>
                <label for="password" class="texto-login">Contraseña</label>
                <input type="password" name="password" id="password">
                <span class="feedback">Contraseña incorrecta.</span>
                <button class="button-login"><a href="/">Login</a></button>
            </form>
        </div>
    </main>
    
</html>